# **Data Types and Structures Assignment**

1. What are data structures, and why are they important?
  
  * Data structures are ways to organize and store data efficiently so it can be used effectively. They provide a framework for managing information, allowing for quick access, modification, and retrieval of data.
  
2.  Explain the difference between mutable and immutable data types with examples?
  * Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can’t be changed.
  Examples of mutable types include lists, dictionaries, and sets, whereas strings and tuples are immutable.

3. What are the main differences between lists and tuples in Python?
  * Lists are mutable, allowing modifications, while tuples are immutable. Choosing between them depends on whether you need to modify the data or prioritize performance and memory efficiency.

4. Describe how dictionaries store data.
  * A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can't be repeated and must be immutable. Example: Here, The data is stored in key:value pairs in dictionaries, which makes it easier to find values.

5. Why might you use a set instead of a list in Python?
  * Sets remove duplicates and allow fast lookup. Lists keep order and allow duplicates.

6. What is a string in Python, and how is it different from a list?
  * A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python?
  * Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed. This characteristic makes tuples suitable for storing data that should remain constant throughout a program's execution.

8. What is a hash table, and how does it relate to dictionaries in Python?
  * A hash table is a data structure that stores key-value pairs. It uses a hash function to calculate an index for each key, which is then used to store and retrieve the corresponding value. Python dictionaries use hash tables internally.

9. Can lists contain different data types in Python?
  * Yes, lists in Python can contain different data types. This is one of the features that makes Python lists very versatile. A single list can hold integers, floats, strings, booleans, and even other lists, tuples, or dictionaries.

10. Explain why strings are immutable in Python?
  * Strings are "immutable" which means they cannot be changed after they are created. Since strings can't be changed, we construct *new* strings as we go to represent computed values.

11. What advantages do dictionaries offer over lists for certain tasks?
  * Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

12.  Describe a scenario where using a tuple would be preferable over a list?
  * Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

13.  How do sets handle duplicate values in Python?
  * Sets are designed to store only unique elements. When you attempt to add a duplicate value to a set, it simply ignores the duplicate and retains only one instance of that value. This behavior ensures that sets always contain a collection of distinct items.

14. How does the “in” keyword work differently for lists and dictionaries?
  * For Lists, it checks if value exists but for dictionaries it checks if key exists.

15. Can you modify the elements of a tuple? Explain why or why not.
  * No, you cannot directly modify the elements of a tuple after it has been created. Tuples are immutable data structures, meaning their contents cannot be changed, added to, or removed from once they are defined. But it can be changed to list and then modifed and again convert to tuple.

16. What is a nested dictionary, and give an example of its use case?
  * A nested dictionary is a dictionary where the values are themselves dictionaries.
  Use case : To create hierarchical or multi-level data structures, where each dictionary can contain other dictionaries as its values.

In [18]:
people = {1: {'name': 'Karthika', 'age': '25', 'sex': 'Female'},
          2: {'name': 'Sowmya', 'age': '24', 'sex': 'Female'}}

print(people)

{1: {'name': 'Karthika', 'age': '25', 'sex': 'Female'}, 2: {'name': 'Sowmya', 'age': '24', 'sex': 'Female'}}

17. Describe the time complexity of accessing elements in a dictionary?
  * Accessing an element in a dictionary typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size.

18. In what situations are lists preferred over dictionaries?
  * If you need an ordered collection, like a sequence of user actions, lists are your go-to.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  * Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  * In terms of data retrieval, lists are accessed by index, while dictionaries are accessed by key. This means that to retrieve a specific element from a list, you use its numerical position (starting from 0), whereas for a dictionary, you use the associated key to find the corresponding value.

# **Practical Questions**

In [73]:
# 1. Write a code to create a string with your name and print it.

name = "Karthika"
print(name)
type(name)

Karthika

str

In [23]:
# 2. Write a code to find the length of the string "Hello World".

print(len("Hello World"))

11

In [24]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [25]:
# 4. Write a code to convert the string "hello" to uppercase.

print("hello".upper())

HELLO

In [26]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

print("I like apple".replace("apple", "orange"))

I like orange

In [29]:
#  6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [30]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [31]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst1 = [1, 2, 3, 4, 5]
lst1.remove(3)
print(lst1)

[1, 2, 4, 5]

In [35]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

alp = ['a', 'b', 'c', 'd']
print(alp[1])

b

In [36]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

lst2 = [10, 20, 30, 40, 50]
print(lst2[::-1])

[50, 40, 30, 20, 10]

In [37]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [38]:
type(tup)

tuple

In [41]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

Color = ('red', 'green', 'blue', 'yellow')
print(Color[-2])

blue

In [42]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tpl = (10, 20, 5, 15)
print(min(tpl))

5

In [43]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

pets = ('dog', 'cat', 'rabbit')
print(pets.index("cat"))

1

In [44]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "grape")
print("kiwi" in fruits)

False

In [47]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

A = {'a', 'b', 'c'}
print(A)

{'b', 'c', 'a'}

In [49]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

S = {1, 2, 3, 4, 5}
S.clear()
print(S)

set()

In [50]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

B = {1, 2, 3, 4}
B.remove(4)
print(B)

{1, 2, 3}

In [52]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [54]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [55]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "Kar", "age": 25, "city": "Chennai"}
print(person)

{'name': 'Kar', 'age': 25, 'city': 'Chennai'}

In [56]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

D = {'name': 'John', 'age': 25}
D["country"] = "USA"
print(D)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [57]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [58]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [59]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

k = {'name': 'Alice', 'city': 'Paris'}
print("city" in k)

True

In [61]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {"a": 10, "b": 20}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [67]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[24, 47, 61, 85, 94]

In [68]:
# 28. Write a code to create a list with strings and print the element at the third index.

Fruit = ["apple", "banana", "cherry", "date"]
print(Fruit[3])

date

In [71]:
# 29. Write a code to combine two dictionaries into one and print the result.

d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [72]:
# 30. Write a code to convert a list of strings into a set.

lst3 = ["apple", "banana", "apple"]
s = set(lst3)
print(s)

{'banana', 'apple'}